.navbar{
  width: 5%;
  background: #9bdae3;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 8px;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* vertical center */
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal center of links */    
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 23px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.nav-menu li {
    padding-bottom: 100%;
}

.icon {
    color: white;
    text-decoration: none;
}

.icon:hover {
    color: black;
}