.projects-individual{
  border-radius: 8px;
  border: 20px solid #9bdae3;
}

.projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 clamp(20px, 10vw, 150px);
}

.projects-title-individual{
  position: relative;
  padding: 20px ;
  color: black;
  padding-bottom: 40px;
  text-align: center;
}
 
.projects-title-individual h1{
  font-size: clamp(10px, 2vw, 50px);
  font-weight: 600;
  text-align: center;
  font-family: monospace ;
  font-style:oblique;
  text-underline-offset: 0.3em;
  text-decoration: underline rgb(220, 240, 247) 5px;
  padding: 40px;
  display: inline;
}

.projects-navlink{
  background: transparent;
  border: none;
  color: transparent;
  text-decoration: none;
}

.projects-navlink-button{
  display: inline-block;
  top: 20px;
  position: relative;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgb(220, 240, 247);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  border-color: aliceblue;
  color: aliceblue;
  width: 5%;
  max-width: auto;
  min-height: 5%;
  max-height: 20%;
}

.projects-navlink-button img{
  height: 30px;
  max-width: 100%;
  max-height: auto;
  display: block;
  margin: 0 auto; 
}

.projects-container img{
  min-width: 50%;
  max-width: 60%;             
  height: auto; 
  justify-content: center; 
  align-items: center; 
  border-color: black; 
  display: block;
  float: left;
}

.projects-format-individual-dsc p{
  color: black;
  padding-bottom: 2%;
  font-size: clamp(10px, 2vw, 20px);
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  column-gap: 20px;
  line-height: 150%;
  text-align: center;
}

.projects-functionality {
  padding: 2%;
  gap: 20%;
  border: 2px solid rgb(220, 240, 247);
  border-radius: 10px;
  background-color: rgb(220, 240, 247);
}

.projects-functionality li{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  padding-bottom: 2%;
  gap: 60px;
  font-size: clamp(10px, 2vw, 20px);
}
